<h1>Home Page</h1>

{{#each posts}}
	<div>
		Title: {{post.title}}
	</div>
	<div>
		Url: {{post.url}}
	</div>
	<div>
		Image: {{post.image}}
	</div>
	<div>
		Description: {{post.description}}
	</div>
	<div>
		Score: {{post.score}}
	</div>
{{/each}}